h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: royalblue;
    color: white;
    height: 100px;
    text-align: center;
    border-bottom: 7px solid gold;
}
h2{
    /* border-bottom: 3px solid white; */
}
div{
    background-color: mediumseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-left: 5px solid gold;
}